.app_header {
  color: var(--light-main);
  background: var(--dark-main);
  display: flex;
  padding: 10px;

  justify-content: space-between;
  align-items: center;
}

.ws_state {
  display: flex;
  align-items: center;
  gap: 10px;

  .indicator {
    height: 12px;
    width: 12px;
    border-radius: 50%;

    &.closed {
      background-color: var(--red);
    }

    &.process {
      background-color: var(--orange);
    }

    &.connected {
      background-color: var(--blue-1);
    }
  }
}

.navigation {
  display: flex;
  gap: 10px;

  a {
    color: inherit;
  }
}