.overflow-auto {
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.word-break-break-all {
  word-break: break-all;
}

.white-space-break-spaces {
  white-space: break-spaces;
}

.flex {
  display: flex;

  &.gap-10 {
    gap: 10px;
  }
}

.align-items-center {
  align-items: center;
}