.button {
  height: fit-content;
  padding: 5px 15px;
  border: none;

  font-weight: bolder;
  color: var(--light-main);

  &.primary {
    background-color: var(--blue-1);

    &:hover, &:active {
      background-color: var(--blue-2);
    }
  }

  &.secondary {
    color: var(--dark-main);
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid rgba(0, 0, 0, 15%);

    &:hover, &:active {
      background-color: rgba(0, 0, 0, 5%);
    }
  }

  &.danger {

    background-color: var(--red-2);

    &:hover, &:active {
      background-color: var(--red-3);
    }
  }

}