.content {
  margin: auto 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  align-items: center;
}

.scroll-container {
  flex-grow: 1;
  overflow: auto;
  margin: 0 10px;
}