.files-dialog {
  min-width: 700px;
  display: flex;
  flex-direction: column;

  .files_list {
    padding: 0;

    .file {
      display: flex;
      padding: 5px 5px 5px 10px;
      justify-content: space-between;

      &:hover {
        background-color: rgba(0, 0, 0, 5%);
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}