.form {
  width: 40vw;
  padding: 0;
}

.buttons_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.test_form {
  .text-inputs {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.mock_form {

  .text-inputs {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
  }

  .text-areas {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    textarea {
      resize: none;
    }
  }
}

.form {
  .save_mocks {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
  }
}