.form {
  width: 700px;

  .buttons_wrapper {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.path_method {
  display: grid;
}

.test_form {
  .path_method {

    grid-template-columns: 1fr 150px;
  }
}

.mock_form {
  .path_method {
    grid-template-columns: 1fr 100px 150px;
  }
}