.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;

  thead, th {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .table_row {
    border-bottom: 1px solid var(--main-dark);

    &.simple:hover, &.active {
      background-color: rgba(0, 0, 10, 3%);
    }
  }

  .cell {
    text-align: left;
    padding: 5px 10px;
    vertical-align: baseline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .table_header {
    background: var(--main-dark);
    color: #fefdff;
  }
}