.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;

  thead, th {
    position: sticky;
    top: 0;
  }

  .table_row {
    border-bottom: 1px solid var(--dark-main);
  }

  .cell {
    text-align: left;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: baseline;
  }

  .table_header {
    background: var(--dark-main);
    color: #fefdff;
  }
}