.ws_state {
  display: flex;
  align-items: center;
  gap: 10px;

  .indicator {
    height: 12px;
    width: 12px;
    border-radius: 50%;

    &.closed {
      background-color: var(--red);
    }

    &.process {
      background-color: var(--orange);
    }

    &.connected {
      background-color: var(--green-1);
    }
  }
}