html {
  --main-light: #f7f9fc;
  --main-dark: #0b1b2a;

  --blue-1: #4267B2;
  --blue-2: #263b67;
  --blue-3: #233044FF;
  --blue-4: #1c293b;

  --green: #33dc3b;

  --orange: #ffa500;

  --red-1: #DC143CFF;
  --red-2: #910822;
  --red-3: #6c051b;
}